<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./bootstrap.css">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 22px;">泰山咖啡莊園</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#chiaoNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="chiaoNavbar" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">菜單餐點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">周邊景點</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">莊園位置</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">聯絡我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">咖啡故事</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 輪播圖 -->
  <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1920/600/?random=1" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1920/600/?random=2" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1920/600/?random=3" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- card 01 -->
  <div class="container">
    <div class="row my-5 py-5 d-flex justify-content-center">
      <div class="col-md-4 col-12 ">
        <img src="https://picsum.photos/500/300/?random=1" class="card-img-top">
        <div class="border px-3">
          <h5 class="pt-3">又是型號除了口氣</h5>
          <p>圖象專家黑色，平衡我又名字但是容易，一下功能感覺到，大家因此考核精神辦理連載，再也當地看著半年紀念研究生首頁如此為你二人甚至。</p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <img src="https://picsum.photos/500/300/?random=2" class="card-img-top">
        <div class="border px-3">
          <h5 class="pt-3">又是型號除了口氣</h5>
          <p>圖象專家黑色，平衡我又名字但是容易，一下功能感覺到，大家因此考核精神辦理連載，再也當地看著半年紀念研究生首頁如此為你二人甚至。</p>
        </div>
      </div>
      <div class="col-md-4 col-12 ">
        <img src="https://picsum.photos/500/300/?random=3" class="card-img-top">
        <div class="border px-3">
          <h5 class="pt-3">又是型號除了口氣</h5>
          <p>圖象專家黑色，平衡我又名字但是容易，一下功能感覺到，大家因此考核精神辦理連載，再也當地看著半年紀念研究生首頁如此為你二人甚至。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- card 02 -->
  <div class="container-fluid">
    <div class="row" style="background-color: #eeeeee;">
      <div class="col-12 col-md-6 p-0 order-9">
        <img src="https://picsum.photos/600/300/?random=1" class="w-100 h-100">
      </div>
      <div class="col-12 col-md-6 my-auto order-4">
        <div class="text-center py-5 px-4">
          <h2>Coffee Shop</h2>
          <p>
            看來台北上午回答但我警察常用忘記教程色彩反覆和平島，追求客服，忽然事實材料居住機制飲食把握財產先進教育，一些郵遞區號案件烏日損失新浪，本身貼圖避免信箱液晶多麼項目點擊數，界面實業希望每日病毒曝光作出指數歌詞他的，它是愛情沒什麼娛樂你好界面提問不是很為此觀。
          </p>
          <button class="btn btn-success">VIEW COLLECTION</button>
        </div>

      </div>
      <div class="col-12 col-md-6 my-auto">
        <div class="text-center h-100 py-5 px-4 order-2 order-md-3">
          <h2>Coffee Shop</h2>
          <p>
            看來台北上午回答但我警察常用忘記教程色彩反覆和平島，追求客服，忽然事實材料居住機制飲食把握財產先進教育，一些郵遞區號案件烏日損失新浪，本身貼圖避免信箱液晶多麼項目點擊數，界面實業希望每日病毒曝光作出指數歌詞他的，它是愛情沒什麼娛樂你好界面提問不是很為此觀。
          </p>
          <button class="btn btn-success">VIEW COLLECTION</button>
        </div>

      </div>
      <div class="col-12 col-md-6 p-0 order-3 order-md-4">
        <img src="https://picsum.photos/600/300/?random=2" class="w-100 h-100">
      </div>
    </div>
  </div>
  <!-- 地圖 -->
  <section class="vh-100">
    <iframe class="w-100 h-100"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7035065347523!2d121.41732691537885!3d25.044134144038303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a7bec9ad74b1%3A0xa639904a89f26435!2z5Yue5YuV6YOo5Yue5YuV5Yqb55m85bGV572y5YyX5Z-65a6c6Iqx6YeR6aas5YiG572y5rOw5bGx6IG35qWt6KiT57e05aC0!5e0!3m2!1szh-TW!2stw!4v1637644138403!5m2!1szh-TW!2stw"
      style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>
  <!-- 表單 -->
  <section class="pt-5" style="background-color: #eeeeee;">
    <div class="container">
      <h3 class="text-center pb-3">聯絡我們</h3>
      <h4 class="text-center">泰山咖啡莊園，傳承熱情 coding 精神</h4>
      <p class="text-center pb-3">任何服務問題或建議，歡迎您透過客服表單告知我們，謝謝 !</p>
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="mb-2">姓名</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2">先生</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label" for="inlineRadio2">女士</label>
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
              </div>
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">電子信箱</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">電話</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <p class="mb-2">問題類型</p>
          <select class="form-select" aria-label="Default select example">
            <option selected>----請選擇----</option>
            <option value="1">餐飲建議</option>
            <option value="2">服務態度</option>
            <option value="3">環境整潔</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">意見需求</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="form-check mb-5">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          訂閱泰山莊園最新資訊
        </label>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-secondary mx-auto mb-5">送出</button>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer class="pt-5" style="background-color: black;">
    <div class="container" style="color: white;">
      <div class="row row-cols-5">
        <div class="col-6 col-md me-md-5">
          <img src="https://picsum.photos/150/150/?random=1" class="rounded-circle">
        </div>
        <div class="col-6 col-md me-md-5">
          <h5>Address</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">1234 Street Name</li>
            <li class="nav-item mb-2">City, AA 99999</li>
          </ul>
        </div>
        <div class="col-6 col-md me-md-5">
          <h5>Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Website builder</li>
            <li class="nav-item mb-2">Download for Windows</li>
            <li class="nav-item mb-2">Download for Mac</li>
          </ul>
        </div>
        <div class="col-6 col-md me-md-5">
          <h5>Contacts</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">Email: support@mobirise.com</li>
            <li class="nav-item mb-2">Phone: (04) 123456789</li>
            <li class="nav-item mb-2">Fax: (04) 123456789</li>
          </ul>
        </div>
      </div>
      <p class="text-center py-3">© Copyright 2021 Tina Chen - All Rights Reserved</p>
    </div>
  </footer>
  <script src="./bootstrap.bundle.js"></script>
</body>

</html>